$mat-primary: (
  50 : #e4e5f0,
  100 : #bcbdd8,
  200 : #8f91bf,
  300 : #6265a5,
  400 : #404491,
  500 : #1e237e,
  600 : #1a1f76,
  700 : #161a6b,
  800 : #121561,
  900 : #0a0c4e,
  A100 : #8486ff,
  A200 : #5154ff,
  A400 : #1e22ff,
  A700 : #0409ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-accent: (
  50 : #e0e8f5,
  100 : #b3c5e5,
  200 : #809fd4,
  300 : #4d78c3,
  400 : #265bb6,
  500 : #003ea9,
  600 : #0038a2,
  700 : #003098,
  800 : #00288f,
  900 : #001b7e,
  A100 : #acb7ff,
  A200 : #798bff,
  A400 : #465eff,
  A700 : #2c48ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-white: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

